#banner
  .banner_content
    %h1 File Cabinet
    %p Your life's work. Organized, always.
    %button= link_to "Enter", new_user_registration_path

#callouts
  .callout_inner
    .wrapper
      .callout
        %h2 Organize
        %p Stumptown kickstarter scenester, before they sold out 8-bit synth hella tattooed chartreuse cronut JOMO chia you probably haven't heard of them. Edison bulb narwhal pabst 8-bit mukbang quinoa.


#bottom_cta
  .wrapper
    %h2 Go Ahead!
    %br
    %button= link_to "Join Now", new_user_registration_path
